* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "cocogoose", "Lato";
}

body {
}

/* global classes */
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.p-lr-100 {
  padding: 0 100px;
}
/* header classes */
header {
  margin: 0;
  padding: 0;
}
.top-nav {
  height: 30px;

  background-color: #272a31;
}

.top-nav ul {
  line-height: 30px;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.top-nav ul li {
  padding-left: 15px;
}

.top-nav ul li a {
  font-size: 13px;
  color: white;
}
.top-nav ul li a:hover {
  text-decoration: none;
  font-weight: bold;
}

.right-nav ul li {
  padding-left: 30px;
}

.topics {
  background-color: #272a31;
  color: #d3d3d3;
  padding: 0 200px;
}

.topics h5 {
  text-align: center;
  padding-bottom: 100px;
}
.topics h5 a {
  text-decoration: underline;
  font-size: 18px;
  color: #d3d3d3;
}
.topic-items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 3px;
  text-align: center;
  padding-bottom: 100px;
}

.topic-item {
  background: #3c3f46;
  padding: 10px;
}

.topic-item:hover {
  border: 1px solid #d3d3d3;
  cursor: pointer;
}
.topic-item h3 {
  color: #ec5242;
  font-size: 20px;
  font-weight: bold;
}

.topic-item p {
  font-size: 13px;
  color: #d3d3d3;
}
.speaker-sec {
  padding: 0 200px 30px;
}
.speakers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.speaker img {
  width: 150px;
  padding-right: 20px;
}

.spekaer-title h4 {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 10px;
  margin: 0;
}

.spekaer-title h5 {
  font-style: italic;
  font-size: 15px;
  color: red;
  margin: 0;
}

.spekaer-title h5::after {
  content: "";
  display: block;
  width: 11%;
  padding-top: 10px;
  border-bottom: 2px solid #d3d3d3;
}

.spekaer-title h6 {
  font-size: 15px;
  padding-top: 10px;
}

footer {
}
.top-foot {
  background-color: #272a31;
  color: #d3d3d3;
  padding: 0 200px;
}
.top-foot-title {
}

.top-foot-title h2,
.speaker-sec h2,
.topics h2 {
  padding: 30px;
  font-size: 25px;
  font-weight: bold;
}

.top-foot-title h2::after,
.speaker-sec h2::after,
.topics h2::after {
  margin: 0 auto;
  content: "";
  display: block;
  width: 5%;
  padding-top: 10px;
  border-bottom: 2px solid #ec5242;
}

.top-foot-logo h3 {
  padding: 10px 20px 30px 20px;
}
.bot-foot {
  width: 100%;
  height: 150px;
  background-color: gray;
}
